<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>
<h1>Weather Data API</h1>
<p>URL format: http://127.0.0.1:5000/api/v1/satation/date</p>
<p>URL Example: http://127.0.0.1:5000/api/v1/10/1988-10-25</p>
<p>URL format for one station: http://127.0.0.1:5000/api/v1/satation</p>
<p>URL Example: http://127.0.0.1:5000/api/v1/10</p>
<p>URL format for an year: http://127.0.0.1:5000/api/v1/yearly/station/year</p>
<p>URL Example: http://127.0.0.1:5000/api/v1/yearly/10/1999</p>
<p>{{data|safe}}</p>
</body>
</html>